.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background-color: #272727;
}
.company-logo {
  margin-top: 10px;
  width: 12%;
}
.link-container {
  display: flex;
  list-style-type: none;
  margin-top: 20px;
}

.nav-link {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

.logout-button {
  margin-top: 15px;
  width: 110%;
  color: white;
  height: 40px;
  background-color: blue;
  border: 0px solid;
  border-radius: 5px;
}
