.score-board-container {
  display: flex;
  justify-content: space-between;
  border: 2px solid white;
  margin-top: 15px;
  border-radius: 5px;
  width: 60%;
  height: 140px;
  padding: 20px;
}

.choices-container {
  list-style-type: none;
  padding-left: 0px;
}

.choice {
  color: #ffffff;
  font-size: 20px;
}

.score-card {
  background-color: #ffffff;
  border-radius: 8px;
  width: 12%;
}

.score-heading {
  text-align: center;
}

.score {
  text-align: center;
  font-family: 'Roboto';
}
